:root {
  --font-family: 'poppins', sans-serif;
  --text-color: #013237;
  --standard-bg-color: #eaf9e7;
  --secondary-bg-color: #c0e6ba;
  --primary-bg-color: #4ca771;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--standard-bg-color);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p, h4, h5, h6{
  font-family: var(--font-family);
  background-color: transparent;
}

span {
  font-weight: bold;
  font-size: 25px;
}

header a {
  font-family: var(--font-family);
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

.bi {
  background-color: transparent;
}

/* ----- navbar ----- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.nav-links {
  list-style: none;
  font-size: 15px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links a {
  position: relative;
}

.nav-links a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--text-color);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover:before {
  visibility: visible;
  width: 100%;
}

/* ------------------ */

/* ----- cards ------ */

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

@media only screen and (max-width: 1050px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.column {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column .cards {
  height: 100%;
  width: 85%;
  padding: 10px;
  margin: 20px;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
}

.column .cards .content-card-one {
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  color: var(--text-color);
}

.column .cards .content-card-one .content-image {
  position: absolute;
  top: -120px;
  right: -30px;
  width: 360px;
  background-color: transparent;
}

@media only screen and (max-width: 550px) {
  .column .cards .content-card-one .content-image {
    position: absolute;
    top: 120px;
    right: -35px;
    width: 0px;
    background-color: transparent;
  }
}

.column .cards .content-card-two {
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  color: var(--text-color);
  text-align: right;
}

/* ------------------ */

/* --- item-cards --- */

.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 1600px) {
  .item-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .item-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.item-column {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-column .item-cards {
  height: 100%;
  width: 75%;
  padding: 10px;
  margin: 25px;
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
}

.item-column .item-cards form {
  background-color: var(--secondary-bg-color);
}

.item-column .item-cards .item-content {
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  color: var(--text-color);
}

.item-column .item-cards .item-content .content-image {
  position: absolute;
  top: -75px;
  right: 10px;
  width: 320px;
  background-color: transparent;
}

/* temporary image fix */
@media only screen and (max-width: 600px) {
  .item-column .item-cards .item-content .content-image {
    position: absolute;
    top: -75px;
    right: 10px;
    width: 0px;
    background-color: transparent;
  }
}

/* ------------------ */

/* ----- buttons ---- */

.btn {
  font-family: var(--font-family);
  font-size: 16px;
  padding: 9px 25px;
  text-decoration: none;
  background-color: var(--standard-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.btn:hover {
  font-size: 18px;
  background-color: var(--text-color);
  color: var(--standard-bg-color);
}

.delete-btn {
  font-family: var(--font-family);
  font-size: 14px;
  padding: 9px 25px;
  text-decoration: none;
  background-color: var(--standard-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.delete-btn:hover {
  font-size: 16px;
  background-color: var(--text-color);
  color: var(--standard-bg-color);
}

/* ------------------ */

/* - login / signup - */

.login-container {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-form {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  text-align: center;
}

.login-container .login-form .register-link {
  color: var(--text-color);
  background-color: transparent;
}

.login-container .login-form form {
  background-color: var(--secondary-bg-color);
}

.login-container .login-form p {
  font-size: 15px;
}

.login-container .login-form input {
  font-family: var(--font-family);
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-bg-color);
  margin: 20px;
  border: none;
  border-bottom: 1px solid var(--text-color);
  outline: none;
}

/* ------------------ */

/* ------ cart ------ */

.cart-container {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container .cart-content {
  background-color: var(--secondary-bg-color);
  height: 100%;
  width: 75%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.cart-container .cart-content .table-btn {
  color: var(--text-color);
  background-color: transparent;
}

.cart-container .cart-content table {
  background-color: var(--secondary-bg-color);
  font-family: var(--font-family);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-container .cart-content tbody {
  background-color: var(--secondary-bg-color);
}

.cart-container .cart-content tr {
  background-color: var(--secondary-bg-color);
}

.cart-container .cart-content th {
  background-color: var(--secondary-bg-color);
}

.cart-container .cart-content td {
  background-color: var(--secondary-bg-color);
  padding:10px;
}

/* ------------------ */

/* ----- footer ----- */

.footer {
  color: var(--text-color);
  text-align: center;
  background-color: var(--secondary-bg-color);
  margin-top: auto;
  padding: 20px;
  width: 100%;
}

.footer a {
  color: var(--text-color);
  background-color: transparent;
}

/* ------------------ */
